.MapCharts-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: auto;
  gap: 50px;
  justify-content: space-evenly;
}

.tableDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* border: 1px black solid; */
}
.mapDiv {
  width: fit-content;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineChart {
  min-width: 50%;
}

@media screen and (max-width: 787px) {
  .MapCharts-container {
    flex-direction: column-reverse;
  }
  .mapDiv {
    min-width: 100%;
  }
}

@media screen and (max-width: 591px) {
  .lineChart {
    max-width: 100vw;
  }
}
